.h1 {
    color: #fff;
}

.navbar {
    grid-row: 1 / 1;
    grid-column: 1 / 15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 800px;
    justify-content: space-around;
    right: 0;
    position: absolute;
}

.nav-item {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: #007bff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav-item:hover {
    background-color: #0056b3;
}

.navbar a:before {
    content: attr(title);
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    opacity: 0; /* Initially invisible */
    transform: scale(0);
    transform-origin: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
    text-align: center;
    margin-top: 4px;
    left: 60%; /* Center horizontally */
    top: 100%; /* Position below the link */
    margin-left: -0.5em; /* Adjust based on your design */
}

.navbar a:hover:before {
    opacity: 1;
    transform: scale(1);
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}


.logo {
    color: #fff;
    font: "Roboto";
    font-size: 2.3rem;
    top: 0;
    font-weight: 1000;
    left: 0;
    height: 100px;
    width: 400px;
    margin-left: 10px;
}

.logo-wrapper {
    height: 75px;
    width: 400px;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
