.job-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.job-info-body p {
    white-space: pre-wrap;
}

.job-info-location {
    display: flex; /* Use flexbox */
    flex-direction: row;
    align-items: flex-start;
}

.pin-logo {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.pin-logo img {
    max-width: 80%; /* Ensure image doesn't exceed container width */
    max-height: 80%; /* Ensure image doesn't exceed container height */
    border-radius: inherit; /* Inherit border-radius from parent */
    padding-top: 20px;
}

.pay {
    display: flex; /* Use flexbox */
    flex-direction: row;
    align-items: center;
}

.money-logo {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 33px;
    width: 33px;
    margin-right: 5px;
}

.money-logo img {
    max-width: 80%; /* Ensure image doesn't exceed container width */
    max-height: 80%; /* Ensure image doesn't exceed container height */
    border-radius: inherit; /* Inherit border-radius from parent */
}

.apply-button {
    display: block; 
    width: calc(100% - 40px); 
    padding: 10px 20px;
    margin: 10px auto 30px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-align: center; 
}


.apply-button:hover {
    background-color: #0056b3;
}

.job-info-header p {
    font-weight: 5;
}
